/* base style */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, select {
    font-family:"Raleway";
}

/* mode light/dark */

.darkModeButton {
    position: absolute;
    top: 20px; 
    right: 20px;
    padding: 10px 20px;
    background-color: #333; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    transition: 0.3s;
    @media (max-width: 600px) {
       position: static;
       margin: 0 auto;
       margin-bottom: 20px;
       width: 33%;
       display: flex;
       align-items: center;
       justify-content: center;
    }
}

.darkModeButton:hover {
    background-color: #555;
    @media (max-width: 600px) {
        background-color: #333;
    }
}

.lightModeButton {
    position: absolute;
    top: 20px; 
    right: 20px;
    padding: 10px 20px;
    background-color:  #fff; 
    color: #333; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    transition: 0.3s;
    @media (max-width: 600px) {
        position: static;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 33%;
        display: flex;
        align-items: center;
        justify-content: center;
     }
}

.lightModeButton:hover {
    background-color: rgba(255, 255, 255, 0.8);
    @media (max-width: 600px) {
        background-color:  #fff; 
     }
}

.lightMode {
    background-color: #fff;
    color: #333;
}

.dark-mode{
    background-color: #333;
    color: #fff; 
}

/* title */

h1 {
    color: #137DC5;
}

h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
    border-bottom: solid 1px #137DC5;
}

/* list */

ul { 
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

::marker {
    color: #137DC5;
    font-size: 20px;
}

/* font awesome logos */

.icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    border: 1px solid #137DC5;
    color: #137DC5;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: 3px solid #137DC5;
    @media (max-width: 600px) {
     flex-direction: column;  
    }
}

.social-link {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-link i {
   font-size: 30px;
   color: #137DC5;
   transition: 0.3s;
}

.social-link i:hover {
    color: #3CA9FF;
    font-size: 32px;
 }

.myWork {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #137DC5;
    @media (max-width: 600px) {
        flex-direction: column;
     }
}

.myWork h2 {
    @media (max-width: 600px) {
        text-align: center;
     }
}

.cv-infos { 
    padding: 30px;
    display: flex;
    gap: 100px;
    @media (max-width: 600px) {
        flex-direction: column-reverse;
        gap: 40px;
    }
}

/* div about me */

.about-me {
    width: 50%;
    @media (max-width: 600px) {
        width: 100%;
    }
}

.text-about {
    text-align: justify;
}

.languages-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circle {
    border: 1px solid;
    margin-left: 10px;
    width:  15px; 
    height: 15px; 
    background-color: #137DC5;
    border-radius: 50%;
    display: inline-block;
}

.inactive {
    background-color: azure;
}

/* div profesional */

.profesional {
    width: 50%;
    @media (max-width: 600px) {
        width: 100%;
    }
}

/* div xp */

.xp {
    display: flex;
    flex-direction: column;
}

.job {
    display: flex;
    gap: 30px;
}

.job-name-date {
    width: 30%;
}

.job-infos {
    width: 70%;
}

/* div studies */

.container-studies-list {
    display: flex;
    gap: 30px;
}

.studies-name-date {
    width: 30%
}

.studies-infos {
    width: 70%;
}